<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!--jQuery-->
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.slim.min.js"></script>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <!--socket.io-->
    <script src="https://cdn.bootcss.com/socket.io/2.2.0/socket.io.slim.js"></script>

    <!--client.js-->
    <script src="{{ url_for('static', filename='js/client.js') }}"></script>

    <!--main.js-->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

    <title>Sound2Sound</title>
</head>
<body>
    <div class="form-group">
        <button id="switch" class="btn btn-primary btn-lg" type="button">连接</button>
    </div>
</body>
</html>

